extends layout.pug
block content
  section.beer__header
  //- img.beer__picture(src=)
  .beer__main-info
    h1.beer__name Delirium Tremens
    p.beer__brewery Huyghe Brewery
    p.beer__type Belgian Strong Golden Ale
    p.beer__abv 8.5% ABV
    p.beer__review 4 Stars
    p.beer__ratings 355,100 ratings
    p.beer__description NB: Depending on the location and batch, this beer can be either 8.5% or 8.7%. Please do not post an edit request asking to change it from one to the other.

  main
    section.recent-activity
      h2 Global Recent Activity
      div#comments-container
