extends layout.pug
block content
  head
    link(rel="stylesheet" href="styles/beer.css")
  section.beer__header
    .beer__main-info
      img.beer__image(src="https://untappd.akamaized.net/site/beer_logos/beer-1616182_8d869_sm.jpeg")
      h1.beer__name Delirium Tremens
      p.beer__brewery Huyghe Brewery
      p.beer__type Belgian Strong Golden Ale
      p.beer__abv 8.5% ABV
      p.beer__review 4 Stars
      p.beer__ratings 355,100 ratings
      p.beer__description NB: Depending on the location and batch, this beer can be either 8.5% or 8.7%. Please do not post an edit request asking to change it from one to the other.

  main
  include recent-activity


//- img.beer__picture(src=)
