extends layout
block content
  section.brewery__header
    .brewery__main-info
      h1.brewery__name Pips Meadery
      p.brewery__location Beach Park, IL United States
      p.brewery__type Micro-Brewery
      p.brewery__review 4 Stars
      p.brewery__ratings 355,100 ratings
      p.brewery__beers 125 beers
      p.brewery__description We have a passion for all things wine, but are primarily focused on mead. Playing most frequently in the dessert category, we are willing to push the boundaries at times and stretch past balance to bring out intense flavors and unique combinations in our products. We appreciate all feedback on our products and we strive for continuous improvement in our recipes.
  main
    section.recent-activity
      h2 Global Recent Activity
      div#comments-container
