
.footer-nav
  .footer-nav.footer-inner
    ul
      li(class='footer-link' href="/") TappdIn for Business
      li(class='footer-link' href="/") Breweries
      li(class='footer-link' href="/") Store
      li(class='footer-link' href="/") Support
      li(class='footer-link' href="/") API
      li(class='footer-link' href="/") Careers
      li(class='footer-link' href="/") Terms
      li(class='footer-link' href="/") Privacy
  .social-nav
    ul
      a(href='/github.com' class='footer-social') GitHub1
      a(href='/github.com' class='footer-social') GitHub2
      a(href='/github.com' class='footer-social') GitHub3
