head
  link(rel='stylesheet' type='text/css' href='styles/footer.css')
.footer-nav
  .footer-nav.footer-inner
    ul.footer-list
      a.footer-link(href="/") TappdIn for Business
      a.footer-link(href="/") Breweries
      a.footer-link(href="/") Store
      a.footer-link(href="/") Support
      a.footer-link(href="/") API
      a.footer-link(href="/") Careers
      a.footer-link(href="/") Terms
      a.footer-link(href="/") Privacy
  .social-nav
    ul.social-link
      a.footer-social(href='/github.com') GitHub1
      a.footer-social(href='/github.com') GitHub2
      a.footer-social(href='/github.com') GitHub3
