extends layout

block content
    head
        link(rel="stylesheet" href="/styles/index.css")
    include checkin
    section.profile__container
        div.profile__header
            img.profile__picture(src="/imgs/profile-default.jpg")
            .profile__main-info
                h1.profile__name=`${user.firstName} ${user.lastName}`
                p.profile__username=user.username
                p.profile__reviews NUMBER OF CHECKINS: #{checkins.length}
    main
        include recent-activity
