extends layout
block content
    section.profile__header
        img.profile__picture(src="/imgs/profile-default")
        .profile__main-info
            h1.profile__name Ben Perlmutter
            p.profile__username bpmutter
            p.profile__reviews 6 reviews
    main
        section.recent-activity
            h2 Your Recent Activity
            div#comments-container




    //- include footer
