doctype html
html
  head
    title Tappdin
    link(rel='stylesheet' type="text/css" href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel='stylesheet' type='text/css' href='styles/style.css')
    //- script( defer src="js/components/nav-bar.js")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      //- a.navbar-brand(href='/') Tappdin
      .navbar-nav
        a.navbar-brand(href='/') Tappdin
        a.nav-item.nav-link(href='/thePub') The Pub
        a.nav-item.nav-link(href='/topRated') Top Rated
        a.nav-item.nav-link(href='/supporter') Supporter
        a.nav-item.nav-link(href='/help') Help
        .nav-item#user-nav-btn
          img.profile__picture(src='/imgs/profile-default.jpg')
          .nav_user_dropdown
            ul.dropdown-click
              a.nav-click(href='/') Recent Activity
              a.nav-click(href='/') My Profile
              a.nav-click(href='/') Beer History
              a.nav-click(href='/') Account Settings
              a.nav-click(href='/') Logout
        form(method="get" action='/search') Search
        //- script(src="js/index.js")

    block content
    include footer
