body {
  font-family: ProximaNova,Helvetica,sans-serif;
  background-color: #f5f2e8;
  padding: 40px;
}

.navbar-nav {
  position: fixed;
  background-color: #fc0;
  width: 100%;
  height: 52px;
  margin: 0 auto;
  padding: 0 12px;
  top: 0;
  font-size: 1.2em;
  padding: 4px;
}

.profile__picture {
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 18px;
}

.nav-item.nav-link {
  color: #ffffff;
}

.nav_user_dropdown {
  display: none;
  background-color: #2c2c2c;
  position: absolute;
  width: auto;
  font-size: 1.1em;
  padding: 12px;
  z-index: 8;
}

.nav-item#user-nav-btn:hover .nav_user_dropdown{
  display: block;
}

.dropdown-click {
  display: block;
  list-style-type: none;
}

.nav-click {
  display: list-item;
  color: #ffffff;
  width: auto;
  text-decoration: none;
}


/* // https://untappd.akamaized.net/site/assets/v3/images/cover_default.jpg
main {
  position: relative;
  top: 75px;
}

.main-image {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: -5;
}  */

.footer-nav{
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
}


.footer-link {
  display: inline-block;
  padding: 8px 12px;
  color: #c60;
  text-decoration: none;
  text-align: center;
}

.footer-social {
  display: inline-block;
  padding: 16px 5px;
  text-align: center;
}

.log-in-container {
  display: block;
  width: 500px;
}

.sign-up-form {
  display: block;
  width: 500px;
}
