head
  link(rel='stylesheet' type='text/css' href='/styles/404.css')
body
  div.content
    .inner-content
      h1 OOPS! This page cannot be found.
        p.info We tried looking everywhere, and we couldn't find it.
        a.redirect(href="/") Return to TAPPDIN
