mixin brewerylist(brewerylist)
 .brewery__container-brewery-list
              .brewery-item
                a.label(href="")
                  img(src="https://untappd.akamaized.net/site/beer_logos/beer-1616182_8d869_sm.jpeg")
                .brewery-details
                  p.name Pips Meadery
                  p.location Beach Park, IL United States
                  p.brewery-type Meadery
                .details
                  p.beers 125 Beers
                  p.ratings 13,494 Ratings
                  p.rating-container 4.5/5 🍺

//TODO: link the name,location, etc
