head
  link(rel='stylesheet' type='text/css' href='/styles/footer.css')
.footer-nav
  .footer-nav.footer-inner
    ul.footer-list
      a.footer-link(href="/") TappdIn for Business
      a.footer-link(href="/") Breweries
      a.footer-link(href="/") Store
      a.footer-link(href="/") Support
      a.footer-link(href="/") API
      a.footer-link(href="/") Careers
      a.footer-link(href="/") Terms
      a.footer-link(href="/") Privacy
  .social-nav
    ul.social-link
      a.footer-social(href="https://jbui923.github.io/")
        img.johnny(src="https://avatars3.githubusercontent.com/u/60685723?s=400&u=8906bc06047d2374252904e393c4acb11358be6d&v=4")
      a.footer-social(href="http://ben.perlmutter.io/")
        img.ben(src="https://avatars0.githubusercontent.com/u/57849986?s=460&u=a42f01c6d2937110db5906103d7ef84c605e1138&v=4")
      a.footer-social(href="https://github.com/giancarlo-sanchez")
        img.giancarlo(src="https://avatars2.githubusercontent.com/u/60968129?s=460&u=57d33707899378e0e8d6fe27a858ba7a318d7a06&v=4")
