extends layout
block content
  include brewery-list
  head
    link(rel='stylesheet' type='text/css' href='/styles/search-brewery.css')
  body
    div.slide
      .brewery__search-page
        .main
          .brewery__search-box
            .brewery__search-content
              h3.title Top Rated Beers
              div.filter
                a.section-toggle#beers(href="") Beers
                a.section-toggle#breweries(href="") Breweries
              +brewerylist(brewerylist)
              +brewerylist(brewerylist)
              +brewerylist(brewerylist)
              +brewerylist(brewerylist)
              +brewerylist(brewerylist)
              +brewerylist(brewerylist)
              +brewerylist(brewerylist)
              +brewerylist(brewerylist)
            //- .brewery__container-brewery-list
            //-   .brewery-item
            //-     a.label(href="")
            //-       img(src="https://untappd.akamaized.net/site/beer_logos/beer-1616182_8d869_sm.jpeg")
            //-     .brewery-details
            //-       p.name Pips Meadery
            //-       p.location Beach Park, IL United States
            //-       p.brewery-type Meadery
            //-     .details
            //-       p.beers 125 Beers
            //-       p.ratings 13,494 Ratings
            //-       p.rating-container 4.5/5 🍺
          .brewery__search-sidebar
            //- p.sidebar sidebar stuff?
            //TODO: maybe sidebar stuff
