extends layout
block content
  include brewery-list
  head
    link(rel='stylesheet' type='text/css' href='/styles/search-beer.css')
  body
    div.slide
      .beer__search-page
        .main
          .beer__search-box
            .beer__search-content
              h2.title Top Results for "#{query}"
              div.filter
                form.filter__form(method="get" action="/search/")
                  input.section-toggle#beers(type="submit" value="Beers") 
                  input(type="hidden" name="query" value=query)
                  input(type="hidden" name="searchType" value="beers")
                form.filter__form.filter__form--active(method="get" action="/search/")
                  input.section-toggle#breweries(type="submit" value="Breweries") 
                  input(type="hidden" name="query" value=query)
                  input(type="hidden" name="searchType" value="breweries")
              if breweries.length
                each brewery in breweries 
                  +brewerylist(brewery)
              else 
                p It looks like there weren't any results for your search. Try another search! 

          .beer__search-sidebar
            //- p.sidebar sidebar stuff?
            //TODO: maybe sidebar stuff
            // TODO: need to link the two toggle pages