extends stylesheet
block content
    head
        link(rel="stylesheet" href="/styles/sign-up.css")
    div(class="sign-up-container")
        div.sign-up__content
            div(class="errors-container")
                if errorMessage
                p=errorMessage
            h2.sign-up__logo TAPPDIN
                p.sign-up__quote Drink Responsibly
            //- TODO: update w more info for Tappdin
            form(class="sign-up-form" method="post" action="/users/sign-up")
                //- //input(type="hidden" name="_csrf" value=csrfToken)
                .form-group
                    label(for='username') Username
                    input#username.form-control(type='text' name='username' placeholder="Username" required)
                include form-elements.pug
                .form-group
                    label(for='firstName') First Name
                    input#first-name.form-control(type='text' name='firstName' placeholder="First Name" required)
                .form-group
                    label(for='lastName') Last Name
                    input#last-name.form-control(type='text' name='lastName' placeholder="Last Name" required)
                button.btn.btn-primary(type='submit') Sign Up
            a(href='/log-in') Already have an account? Log in here.

    //- include footer
