* {
  font-family: ProximaNova,Helvetica,sans-serif;
}

.beer__main{
  display: flex;
  justify-content: center;
}

.beer__info-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 52px;
  /* background-color: grey; */
  padding: 24px;
  width: 75%;
}

.beer__info-content {
  display: block;
  padding: 16px;
  border: 1px solid #e2e2e2;
  background-color: #ffffff;
}

.beer__info-label {
  /* background-color: indigo; */
  display: flex;
}

.beer__image {
  height: 97.67px;
  width: 97.67px;
  padding-right: 2%;
}

.beer__info-name {
  /* background-color: ivory; */
  display: block;
}

.beer__name {
  font-size: 2em;
  margin: 0 0 0 6px;
  font-weight: 400;
}

.beer__brewery {
  font-size: 1.25em;
  margin: 0 0 0 6px;
  color: #cc6600;
}

.beer__type {
  font-size: 1em;
  margin: 0 0 0 6px;
  color: #888888;
}

.beer__details {
  display: flex;
  width: 100%;
  margin: 0 0 0 16px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.details{
  padding: 0px;
  color: #999999;
  text-align: center;
  font-size: 1em;
  width: 100%;
}

.symbol {
  width: 16px;
  height: 16px;
  margin-left: .5em;
}

.beer__desciption {
  display: flex;
  flex-wrap: wrap;
  color: #999999;
  line-height: 1.25em;
  width: 75%;
  height: 80px;
  overflow: auto;
}

.beer__bottom {
  display: flex;
}

.box-container {
  display: inline-block;
  padding: 1em;
}

.checkbox {
  display: inline-block;
  background-image: url("https://untappd.akamaized.net/assets/v3/images/beer_icon_check.png");
  height: 52px;
  width: 52px;
  background-color: #fc0;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: .5em;
}

.plusbox {
  display: inline-block;
  background-image: url("https://untappd.akamaized.net/assets/v3/images/beer_icon_add.png");
  height: 52px;
  width: 52px;
  background-color: #fc0;
  background-position: center center;
  background-repeat: no-repeat;
}

.beer__sidebar {
  margin-left: 1em;
}

/* .beer__description a {
  order: 2;
}

.beer__desciption p {
  position: relative;
  overflow: hidden;
  max-height: 44px;
}

.show-less {
  display: none;
}

.show-less:target {
  display: block;
}

.show-less:target p {
  display: block;
  max-height: 100%;
}

.show-less:target + a {
  display: none;
} */
