* {
  font-family: ProximaNova,Helvetica,sans-serif;
}

.brewery__main{
  display: flex;
  justify-content: center;
}

.brewery__info-container {
  display: grid;
  grid-template-columns: 2fr;
  margin-top: 52px;
  /* background-color: grey; */
  padding: 24px;
  width: 900px;
}

.brewery__info-content {
  display: block;
  padding: 16px;
  border: 1px solid #e2e2e2;
  background-color: #ffffff;
}

.brewery__info-label {
  /* background-color: indigo; */
  display: flex;
}

.brewery__image {
  height: 97.67px;
  width: 97.67px;
  padding-right: 2%;
}

.brewery__info-name {
  /* background-color: ivory; */
  display: block;
}

.brewery__name {
  font-size: 2em;
  margin: 0 0 0 6px;
  font-weight: 400;
  color: #000000;
  line-height: 1em;
  margin-bottom: 6px;
}

.brewery__location {
  font-size: 1.25em;
  margin: 0 0 0 6px;
  color: #888888;
  margin-bottom: 6px;
}

.brewery__type {
  font-size: 1em;
  margin: 0 0 0 6px;
  color: #888888;
}

.brewery__details {
  display: flex;
  width: 100%;
  margin: 0 0 0 16px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.details{
  padding: 0px;
  color: #999999;
  text-align: center;
  font-size: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.symbol {
  width: 16px;
  height: 16px;
  margin-left: .5em;
}

#beers {
  color: #cc6600;
  display:inline-block;
  background-color: transparent;
  border: none;
  border-bottom: #cc6600 1px solid;
  outline:none;
  font-size: 16px;
  padding:0;
  cursor: pointer;
}
#beers:hover{
  color: #fc0;
  border-bottom: none;
}
#beers:active{
  background-color:none;

}

.brewery__description {
  display: flex;
  flex-wrap: wrap;
  color: #999999;
  line-height: 1.25em;
  width: 70%;
  height: 80px;
  overflow: auto;
}

.brewery__bottom {
  display: flex;
}

.box-container {
  display: inline-block;
  padding: 1em;
}

.facebook {
  display: inline-block;
  background-image: url("https://untappd.akamaized.net/assets/v3/images/beer_icon_fb.png");
  height: 42px;
  width: 42px;
  background-color: #3b5998;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: .5em;
}

.twitter {
  display: inline-block;
  background-image: url("https://untappd.akamaized.net/assets/v3/images/beer_icon_tw.png");
  height: 42px;
  width: 42px;
  background-color: #2daae1;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: .5em;
}

.instagram {
  display: inline-block;
  background-image: url("https://untappd.akamaized.net/assets/v3/images/beer_icon_ig.png");
  height: 42px;
  width: 42px;
  background-color: #517fa4;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: .5em;
}

.brewery__link {
  display: inline-block;
  background-image: url("https://untappd.akamaized.net/assets/v3/images/beer_icon_url.png");
  height: 42px;
  width: 42px;
  background-color: #fc0;
  background-position: center center;
  background-repeat: no-repeat;
}

.brewery__sidebar {
  margin-left: 1em;
}
